.facet-sign {
    float: right;
    margin-left: 5px;
}

li.breadcrumb-exclude a {
    text-decoration: line-through;
}

li.breadcrumb-exclude sup a {
    text-decoration: none;
}

tr.current-child-row {
    background-color: #f0f8ff;
    border: 2px solid #007acc;
}

